.resolutions-list .highlight__inner {
  padding-right: 2rem !important;
}

.resolutions-list.cs--cyan .highlight--top .highlight__inner:before {
  background-image: url(hammer.svg);
}

.resolutions-list .button {
  align-self: start;
}

.resolutions-list__items {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  margin-block: 1rem;
}

@media (min-width: 768px) {
  .resolutions-list h2 {
    max-width: calc(100% - 8rem);
  }
}
