besluiten-lijst,
reglementen-lijst {
  text-align: left;
}

.resolutions-list .highlight .highlight__inner,
.reglementen-list .highlight .highlight__inner {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}

.resolutions-list .highlight__inner::after,
.reglementen-list .highlight__inner::after {
  display: none !important;
}

.resolutions-list .button,
.reglementen-list .button {
  align-self: start;
  margin: 0 20px 60px 20px;
}

.resolutions-list__items,
.reglementen-list__items {
  margin: 0;
  margin-block: 0 !important;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .resolutions-list slot[name=title] h2,
  .reglementen-list slot[name=title] h2 {
    align-items: flex-end;
    flex-direction: unset;
  }

  .resolutions-list .button,
  .reglementen-list .button {
    margin: 0 0 60px 0;
  }
}
