.resolutions-detail {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 1rem;
  margin: 0 0 .8rem;
  border-radius: .375rem;
  line-height: 1.75;
  padding: .8rem 1rem;
  background-color: white;
}

.resolutions-detail__title {
  grid-row: 1;
  margin-bottom: .2rem;
  font-size: .9rem;
}

.resolutions-detail__link {
  border: none;
}

.resolutions-detail__link:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
}

.resolutions-detail__list {
  font-size: .6rem;
  margin: 0;
}

.resolutions-detail__list dt {
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.resolutions-detail__list dd {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.resolutions-detail__list dt ~ dd:not(:last-of-type) {
  margin-inline-end: .7em;
}

.resolutions-detail__list dt ~ dd:not(:last-of-type):after {
  content: "";
  position: absolute;
  top: .2rem;
  bottom: .2rem;
  right: -0.5em;
  border-right: thin solid currentColor;
}

.resolutions-detail__status {
  position: relative;
  display: inline-block;
  justify-self: start;
  background-color: yellow;
  padding: .4em .8em .6em;
  border: 1px solid transparent;
  border-radius: .2rem;
  font-size: .6rem;
  line-height: 1.1;
  margin-top: .6rem;
}

.resolutions-detail__status--true {
  /*
  @extend .icon-checkmark-circle
  */
  color: #1C5418;
  background-color: #CEEACC;
}

.resolutions-detail__status--false {
  /*
  @extend .icon-cross
  */
  color: #78081A;
  background-color: #FCC5CF;
}

@media (min-width: 768px) {
  .resolutions-detail {
    grid-template-columns: 1fr minmax(auto, 6rem);
  }

  .resolutions-detail__status {
    grid-row: 1;
    grid-column: 2 / -1;
    align-self: start;
    justify-self: end;
    margin: 0;
  }
}
